<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppleEventsUsageDescription</key>
    <string>This app needs to access the Shortcuts app to run your shortcuts when keyboard shortcuts are triggered.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>This app shows notifications when shortcuts are run.</string>
</dict>
</plist>
